.logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    left: 10%;
    z-index: 4;
    transform-origin: center;
}

@media only screen and (max-width: 600px) {
    .logo { left: calc( 50% - 150px ); }
}