.quem-somos {
    margin: 0 auto;
    position: relative;
    padding-top: 77px;
}

.quem-somos .imagem {
    position: absolute;
    left: 120px;
}

.quem-somos .container-text {
    position: absolute;
    right: 120px;

    max-width: 572px;

    padding: 51px 160px 51px 51px;

    background-color: #EA4B37;
    border-radius: 15px;
    color: #FFFDF0;
}

.quem-somos .container-text .text {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    
    font-size: 1.1em;
    font-weight: 300;

    align-items: center;
    text-align: justify;
}

.quem-somos .container-text .text p {
    margin: 8px 0px;
}

.quem-somos .container-text .toucan {
    position: absolute;
    right: -18%;
    top: -10%;

    width: auto;
    height: 657px;
}

@media only screen and (max-width: 1360px) {
    .quem-somos .imagem {
        left: 140px;
        width: 50%;
    }

    .quem-somos .container-text {
        position: absolute;
        right: 140px;
        
        width: 40%;

        padding: 30px 160px 30px 30px;
    }

    .quem-somos .container-text .text {
        margin-top: 10%;
        font-size: 0.9em;
    }

    
    .quem-somos .container-text .toucan {
        right: -12%;
        top: -8%;
        width: auto;
        height: 540px;
    }
}