.fale-conosco {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;

    background-image: url('../../images/backgronund-footer.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: 0;
}

.fale-conosco #form {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc( 25vh - 77px );

    width: 600px;
    background-color: #F8C9AA;
    border-radius: 15px;

    padding: 60px;
}

.fale-conosco #form img {
    margin-bottom: 26px;
}


.fale-conosco .container-block {
    display: flex;
    flex: 1;
    align-items: flex-end;

    width: 100%;
    max-height: 50vh;

    padding: 20px;

    color: #FFFDF0 !important;

    background: #00366B;
}

.fale-conosco .container-block .max-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1360px) {
    .fale-conosco #form {
        z-index: 2;
        top: calc( 25vh - 77px );
    
        width: 35%;
        padding: 40px 60px;
    }
}

@media only screen and (max-width: 600px) {
    .fale-conosco #form {
        position: inherit;
        top: 60px;
        z-index: 2;
        width: 95%;
        padding: 20px 40px;
    }
    
    .fale-conosco .container-block .max-container p {
        min-width: 180px;
        font-size: 0.7em;
    }
}