.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #fffdf0d8;
    padding: 15px;

    position: fixed;
    top: 0;

    width: 100%;
    align-items: center;

    z-index: 3;

    transition: all 0.2s;
}

.nav nav {
    display: flex;
    width: 100%;
    justify-content: right;
}

.nav a {
    font-weight: 500;
    margin: 0 8px;
    padding: 8px 22px;
    border: solid 2px transparent;

    transition: all 0.2s;
}

.nav a:hover {
    color: #EA4B37;
    border-bottom: solid 2px #EA4B37;
}

@media only screen and (max-width: 600px) {
    .nav nav {
        display: none;
    }

    .nav {
        height: 50px;
    }
}