.nav {
    background-color: #fffdf0d8;
    padding: 20px;

    position: fixed;
    top: 0;

    width: 100%;
    align-items: center;

    z-index: 3;
}

.nav nav {
    display: flex;
    margin: 0 auto;
    justify-content: right;
}

.nav a {
    margin: 0 8px;
    padding: 8px 22px;
    border: solid 1px transparent;

    transition: all 0.2s;
}

.nav a:hover {
    color: #EA4B37;
    border-bottom: solid 1px #EA4B37;
}

.active {
    border-bottom: solid 1px #EA4B37;
}