@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    background-color: #FFFDF0;
    color: #00366B;
}

body, input, textarea, button, p, strong {
    font: 400 1em Roboto, sans-serif;
    -webkit-font-smoothing: antialiesed;
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

::placeholder {
    font-size: 1em;
    color: #F8C9AA;
}

::selection {
    color: #FFFDF0;
    background-color: #EA4B37;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    
    justify-content: center;
    align-items: center;
}

.max-container {
    width: 100%;
    max-width: 1360px;
}

.container .background {
    margin: 0 auto;
    width: auto;
    height: 160vh;
}

#social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
}

#social-media a {
    display: flex;
    align-items: center;
    margin: 0 8px;
    width: 48px;
    height: 48px;
}

#social-media a img {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 20px;
    
    transition: all 0.2s;
}

#social-media a:hover img {
    height: 25px;
}

input, textarea, select {
    font-size: 1em;
    color: #EA4B37;

    max-width: 100%;
    min-width: 100%;

    max-height: 100px;

    background-color: #FFFDF0;
    border: solid 2px transparent;
    border-radius: 8px;

    padding: 12px;
    transition: border 0.5s;
}

input:focus, textarea:focus, select:focus {
    border: solid 2px #EA4B37
}

label {
    margin-top: 13px;
    margin-bottom: 4px;
}
input, select {
    margin-top: 4px;
    margin-bottom: 13px;
}
textarea {
    margin-top: 4px;
    margin-bottom: 26px;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #EA4B37;
    border: none;
    color: #FFFDF0;
    
    border-radius: 8px;
    transition: ease-in background-color 0.2s;
}

#button:hover, #button:focus {
    cursor: pointer;
    background-color: #00366B;
}

@media only screen and (max-width: 1360px) {
    .container .background {
        height: 140vh;
    }

    input, textarea, select {
        padding: 8px;
        font-size: 0.85em;
    }
    
    label {
        font-size: 0.85em;
        margin-top: 8px;
        margin-bottom: 2px;
    }
    input, select {
        margin-top: 4px;
        margin-bottom: 13px;
    }
    textarea {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    #button {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .container .background {
        display: none;
    }

    main {
        background-image: url('./assets/images/background-mobile.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    input, textarea, select {
        padding: 8px;
        font-size: 0.85em;
    }
    
    label {
        font-size: 0.85em;
        margin-top: 8px;
        margin-bottom: 2px;
    }
    input, select {
        margin-top: 4px;
        margin-bottom: 13px;
    }
    textarea {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    #button {
        width: 100%;
        height: 40px;
    }
}