@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 1em Roboto, sans-serif;
    -webkit-font-smoothing: antialiesed;

    color: #00366B;
    background-color: #FFFDF0;

    overflow-x: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.nav {
    background-color: #fffdf0bd;
    padding: 20px;

    position: fixed;
    top: 0;

    width: 100%;
    align-items: center;

    z-index: 1;
}

.nav div {
    display: flex;
    margin: 0 auto;
    justify-content: right;
}

.nav a {
    margin: 0 8px;
    padding: 8px 22px;
    border: solid 1px transparent;

    transition: all 0.2s;
}

.nav a:hover {
    color: #EA4B37;
    border-bottom: solid 1px #EA4B37;
}

.active {
    color: #048d2d;
    border-bottom: solid 1px #EA4B37;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;

    justify-content: center;
    align-items: center;
}

.max-container {
    width: 100%;
    height: 100%;
    max-width: 1360px;
}

.logo {
    left: 10%;
    z-index: 2;
}

.container .background {
    margin: 0 auto;
    width: auto;
    height: 160vh;
}

.quem-somos {
    margin: 0 auto;
    position: relative;
}

.quem-somos .imagem {
    position: absolute;
    left: 120px;
    width: 100%;
    height: auto;
}

.quem-somos .container-text {
    position: absolute;
    right: 120px;
    width: 100%;
    max-width: 572px;

    padding: 51px 160px 51px 51px;

    background-color: #EA4B37;
    border-radius: 15px;
    color: #FFFDF0;
}

.quem-somos .container-text .text {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    
    font-size: 18px;
    font-weight: 300;

    line-height: 21px;
    align-items: center;
    text-align: justify;
}

.quem-somos .container-text .text p {
    margin: 8px 0px;
}

.quem-somos .container-text .toucan {
    position: absolute;
    right: -18%;
    top: -10%;

    width: auto;
    height: 657px;
}

.nossas-estampas {
    height: fit-content !important;
}

.nossas-estampas .container-banner {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 420px;

    background-image: url('./assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nossas-estampas .container-banner .text-banner {
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: #F8C9AA;

    width: 100%;
    height: 100%;
    max-width: 420px;

    justify-content: center;
    align-items: center;
}